{% extends 'playground/base.html' %} {% block content %}
<div class="container-md bg-secondary">
  <div className="container shadow-sm p-3 mb-5 my-5 rounded text-center">
    <h1>Purplesigma Trading LLP</h1>
    <br />
    <p>
      An entity incorporated under Limited Liability Partnership Act, 2008. It
      was incorporated in 2017 to carry out the business of providing Financial
      advisory services, Business Analysis and Market Research services in or
      outside India to facilitate & manage business operations and is being
      managed by a team of competent, experienced & dedicated professionals.
    </p>
  </div>
  <div className="container shadow-sm p-3 mb-5 my-5 rounded text-center">
    <h1>Purplesigma Trading LLP</h1>
    <br />
    <p>
      An entity incorporated under Limited Liability Partnership Act, 2008. It
      was incorporated in 2017 to carry out the business of providing Financial
      advisory services, Business Analysis and Market Research services in or
      outside India to facilitate & manage business operations and is being
      managed by a team of competent, experienced & dedicated professionals.
    </p>
  </div>
</div>
{% endblock %}
